  .wrapper {
    position: relative;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  .loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    opacity: 1;
  }