<form [formGroup]='weatherGroup'>
<div class="container form-group">
    <div class="row">
        <div class="col-sm">
            <h1>{{city}} Weather</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" >
            <label  for="lon">Lon: </label>
            <input id="lon" class="form-control" formControlName="lon" type="number" [attr.disabled]="isStart? '' : null">
        </div>
        <div class="col-sm" >
            <label for="lat">Lat: </label>
            <input id="lat" class="form-control" formControlName="lat" type="number" [attr.disabled]="isStart? '' : null">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary" [disabled]="isStart" (click)="startObservation()">Start</button>
            <button class="btn btn-danger" [disabled]="!isStart" (click)="stopObservation()">Stop</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="chart-wrapper">
                <canvas baseChart
                    id="myChart"
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="infoMessage">
        {{infoMessage}}
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="chart-wrapper">
                <app-d3-line-chart
                    [chartData]="d3Data">
                </app-d3-line-chart>
            </div>
        </div>
    </div>
</div>

</form>


